<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://ns.adobe.com/air/application/2.7">
<id>veriscope.samples.live</id>
<versionNumber>0.1</versionNumber>
<filename>live</filename>
<initialWindow>
<content>app.html</content>
<visible>true</visible>
<width>640</width>
<height>500</height>
</initialWindow>
</application>